@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=block');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  --base-color: #fff;
  --primary-color: #333;
  --second-color: #797aae;
  --active-color: #00aeff;
}

@media (max-width: 600px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  :root {
    font-size: 14px;
  }
}

/* --- */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 8rem 4rem;
  background-color: var(--base-color);
  color: var(--primary-color);
  margin-bottom: 8rem;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

img {
  display: block;
  width: 16rem;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

blockquote {
  max-width: 44rem;
  margin: 2rem 2rem;
  opacity: 1;
  transition: opacity 1s;
}

blockquote.hidden {
  opacity: 0;
  transition: none;
}

p {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

a:hover {
  color: var(--active-color);
  border-bottom: 1px solid var(--active-color);
}

button {
  display: block;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 0.8rem 2.4rem;
  background-color: #fff;
  font-size: 0.8rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--second-color);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.1);
  border-color: var(--active-color);
  color: var(--active-color);
}

button:focus {
  outline: none !important;
}
